{% extends "df_goods/base_goods.html" %}

{% block title %}
    {{ category.category_name }}
{% endblock %}

{% block head %}
    <style type="text/css">
    /* 清除浮动 */
    .clearfix:before,.clearfix:after{content:"";display:table}
    .clearfix:after{clear:both;}
    .clearfix{zoom:1}
    .pagenation a{line-height: 20px;}
    </style>
{% endblock %}

{% block cart %}
    <div class="search_bar clearfix">
		<a href="{% url 'index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl"></div>
		<div class="search_con fl">
			<form action="{% url 'goods:search_detail' %}" method="get">
                {% csrf_token %}
                <input type="text" class="input_text fl" name="search" placeholder="搜索商品">
			    <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
{#    购物车展示框#}
        <div class="guest_cart fr">
            <a href="{% url 'cart:cart' %}" class="cart_name fl">我的购物车</a>
            <div class="goods_count fr" id="show_count">{{ cart_count }}</div>
        </div>
	</div>
{% endblock %}

{% block category %}
    {% for category in categorys %}
        <li><a href="{% url 'goods:list' category.id 'default' 1 %}" >{{ category.category_name }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
	<div class="breadcrumb">
		<div class="breadcrumb">
		<a href="{% url 'index' %}">全部分类</a>
		<span>></span>
        <a href="{% url 'goods:list' category.id 'default' 1 %}">{{ category.category_name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in news %}
					<li>
						<a href="{% url 'goods:detail' new.id %}"><img src="{{ new.pic.url }}"></a>
						<h4><a href="{% url 'goods:detail' new.id %}">{{ new.goods_name }}</a></h4>
						<div class="prize">￥{{ new.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' category.id 'default' 1%}"
                {% if sort == "default" %}
                   class="active"
                {% endif %}>默认</a>
				<a href="{% url 'goods:list' category.id 'price' 1 %}"
                {% if sort == "price" %}
                    class="active"
                {% endif %}>价格</a>
				<a href="{% url 'goods:list' category.id 'popular' 1 %}"
                {% if sort == "popular" %}
                    class="active"
                {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for goods in page %}
				<li>
					<a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.pic.url }}"></a>
					<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.price }}</span>
						<span class="unit">{{ goods.price }}/{{ goods.unit }}g</span>
						<a href="{% url 'cart:add' goods.id 1 %}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
                    <a href="{% url 'goods:list' category.id sort page.previous_page_number %}">上一页</a>
                {% endif %}

                {% for num in page.paginator.page_range %}
                    {% if page_num == num %}
                        <a href="{% url 'goods:list' category.id sort num %}" class="active">{{ num }}</a>
                    {% else %}
                        <a href="{% url 'goods:list' category.id sort num %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <a href="{% url 'goods:list' category.id sort page.next_page_number %}">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}

